<!DOCTYPE html>
<html>
<head>
    <title>bluroma</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
</head>
<body>
    <div class="header">
        <h1>bluroma</h1>
        {% if session['user'] %}
        <h2>Logged in as {{ session['user'] }} </h2>
        <form action="{{ url_for('logout') }}">
            <button type="sumbit">Log out</button>
        </form>
        {% else %}
        <h2>Not logged in</h2>
        {% endif %}
    </div>
    <div class="sidebar">
        <h2>Menu</h2>
    </div>
    <div class="content">
        <h2>Dashboard</h2>
    </div>
</body>
</html>