{% extends "base.html" %}

{% block title %}Dashboard | bluroma{% endblock %}

{% block body %}
<nav id="nav">
    <div class="center-nav">
            <a href="{{ url_for('dashboard') }}"><img src="{{ url_for('static', filename='favicon.png') }}"></a>
    </div>
</nav>
<div class="container" id="sidebar">
    <div class="container-header">
        <span>Sidebar</span>
    </div>
    {% if session['user'] %}
        <h2>Logged in as {{ session['user'] }} </h2>
        <form action="{{ url_for('logout') }}">
            <button type="sumbit">Log out</button>
            <br>
        </form>
    {% else %}
        <h2>Not logged in</h2>
    {% endif %}
</div>
<div class="container" id="content">
    <div class="container-header">
        <span>Dashboard</span>
    </div>
</div>
{% endblock %}